.main-div {
    background-color: #d1d1d1;
    width: 30%;
    border-radius: 50px;
    margin: 0 auto;
    height: 240px;
    /* justify-content: space-evenly; */
}

h3 {
    padding: 10px;
}

.sub-div2 {
    display: flex;
    justify-content: space-evenly;
}

.sub-div3 {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: rgb(182, 181, 255);
    border-radius: 50px;
    width: 85px;
    height: 33px;
}

img {
    height: 59px;
}